name: 1d Harmonic Scanner

on:
  schedule:
    # '0 0 * * *' means "At 00:00 UTC every day"
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual trigger

jobs:
  scan-and-alert:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Scanner
      env:
        DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
      run: python 1dharmonics.py
